[user]
	email = p.myagkov@corp.mail.ru

[push]
	default = simple
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[format]
	date = short
	pretty = format:%C(227)%h %C(103)%ar%Creset%d%Creset %C(87)%s %C(203)[%an]%Creset

[alias]
	l = log
	lg = log --graph
