[user]
	email = p.myagkov@corp.mail.ru

[push]
	default = simple

[format]
	date = short
	pretty = format:%C(227)%h %C(103)%ar%Creset%C(41)%d%Creset %C(87)%s %C(203)[%an]%Creset

[alias]
	l = log
	lg = log --graph
